:root {
  --main: white;
  --headerMain: #222;
  --text: #444;
  --headerText: #999;
  --brightText: white;
  --action0: rgb(134, 0, 38);
  --action1: rgb(93, 0, 38);

  --sidePadding: 2rem;
  --textMaxWidth: 32rem;
  --wideMaxWidth: 72rem;
}
*:not(h1) {
  font-family: Avenir;
}
@font-face {
  font-family: monoton;
  src: url("../fonts/Monoton/Monoton-Regular.ttf");
}
h1,
a {
  color: var(--action0);
}
h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
}
h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
html,
body {
  font-size: 100%;
  font-family: Avenir;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--text);

  background: url("../gallery/img/img_5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.welcomePanel {
  text-align: center;
  background: var(--main);
  border-radius: 0.5rem;
  position: relative;
  margin: auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
  z-index: 5;
  padding: 2rem var(--panelPadding);
  width: calc(100% - 2 * var(--panelPadding) - var(--sidePadding));
  max-width: calc(var(--wideMaxWidth) - 2 * var(--panelPadding));
  top: -7rem;
}
.welcomePanel h1 {
  text-align: center;
  font-family: monoton;
}
.page {
  z-index: 5;
  background: var(--main);
  position: relative;
  top: calc(55% + 7rem);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 0.1rem;
}
.page * {
  overflow-x: hidden;
}
.googleMap {
  grid-gap: 1rem !important;
  margin-top: 6rem !important;
}
.googleMap iframe {
  border: none;
  border-radius: 0 !important;
  position: relative !important;
  margin: auto !important;
  width: 100%;
  filter: grayscale(0.2);
}
.welcomePanell {
  background-image: linear-gradient(
    124deg,
    var(--action0) 0%,
    var(--action1) 100%
  ) !important;
  color: white !important;
}
footer {
  text-align: center;
  position: relative;
  margin: auto;
  width: calc(100% - var(--sidePadding));
  max-width: var(--textMaxWidth);
  padding: 1rem 0;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  margin: 5rem auto;
}
footer .copyright {
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.flyoutMenu footer {
  position: absolute;
  bottom: -2rem;
  left: calc(var(--sidePadding) / 2);
}
.flyoutMenu footer a {
  color: var(--headerText) !important;
  text-decoration: underline !important;
}
.flyoutMenu footer .copyright {
  display: block;
}
@media screen and (min-width: 32rem) {
  .welcomePanel {
    --panelPadding: 5rem;
  }
}
@media screen and (max-width: 32rem) {
  footer .copyright {
    display: block;
  }
  .welcomePanel {
    --panelPadding: 1rem;
  }
}
