:root {
  --main: white;
  --headerMain: #222;
  --text: #444;
  --headerText: #999;
  --brightText: white;
  --action0: rgb(155, 0, 0);

  --sidePadding: 2rem;
}
@font-face {
  font-family: monoton;
  src: url("../fonts/Monoton/Monoton-Regular.ttf");
}
@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
h1 {
  text-align: center;
  font-family: monoton;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
html,
body {
  font-size: 100%;
  font-family: Avenir;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--text);

  background: url("../gallery/img/img_30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.welcomePanel {
  background: var(--main);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  position: relative;
  margin: auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
  z-index: 5;
  width: calc(100% - 2rem - var(--sidePadding));
  max-width: 60rem;
  top: -7rem;
}
.page {
  z-index: 5;
  background: var(--main);
  position: relative;
  top: 67%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 5rem;
}
.doubleContent {
  position: relative;
  width: calc(100% - var(--sidePadding));
  max-width: 80rem;
  margin: auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: "slot0 slot1";
}
.doubleContent :nth-child(1) {
  grid-area: slot0;
}
.doubleContent :nth-child(2) {
  grid-area: slot1;
}
.doubleContent p {
  margin: 0;
}
.doubleContent .header {
  padding-top: 0;
}
.doubleContent img {
  margin: auto;
  width: 100%;
}
.content {
  width: calc(100% - var(--sidePadding));
  max-width: 30rem;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 46rem) {
  .doubleContent {
    grid-template-areas: "slot0" "slot1";
  }
  .doubleContent img {
    width: 67% !important;
  }
}
.googleMap {
  grid-gap: 1rem !important;
  margin-top: 6rem !important;
}
.googleMap iframe {
  border: none;
  border-radius: 0 !important;
  position: relative !important;
  margin: auto !important;
  width: 100%;
}
