* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: monoton;
    src: url("../fonts/Monoton/Monoton-Regular.ttf");
}

html {
    background-color: lightgrey;
}

body {
    margin: 0;
    padding-top: 65px;
}

h1 {
    border-top: 2px solid black;
    padding: 10px;
    text-align: center;
    font-family: monoton;
}

p {
    padding: 30px
}

.anfahrt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.anfahrtChild {
    flex: 33%;
    padding: 5px;
    
}

/*NAVBAR START*/
.navbar {

    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    top: 0;
}

.navbar h1 {
    font-family: monoton;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.logo h1 {
    padding-left: 15px;
    display: flex;
    justify-content: center;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/*NAVBAR STOP*/

/*BOTTOMBAR START*/
.bottombar {
    overflow: hidden;
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: flex-start;
}

.bottombar ul {
    margin: 0;
    justify-content: center;
    display: flex;
}

.bottombar li {
    color: white;
    list-style: none;
    padding: 0.5% 1% 0%;
}

.bottombar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.25rem;
}
/*BOTTOMBAR STOP*/

/*GALLERY START*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a img {
    border-radius: 20px;
    padding: 5px;
}
/*GALLERY END*/

@media (max-width: 1165px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
